*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

html::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    background:linear-gradient(120deg,#cef5ff 0%,#ffe0d3 100%) ;
    z-index: -1;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0;
}
/* 顶部栏 */
.container .bar{
    display: flex;
    position:absolute;
    width: 100%;
    height: 9%;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 90%);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 /10%);
}
/* 右侧主要内容 */
.container .box{
    flex: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 80rem;
    height: 80%;
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 1.5rem;
    margin:auto;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 /10%);
    text-align: center;
}
.container .box .card{
    display: flex;
    flex-direction: column;
    position:relative;
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 1.5rem;
    background-color: rgba(255, 255, 255, 30%);
    box-shadow:0 0 1rem 0.2rem rgb(0 0 0 /10%);
}
.card:link{
    color: black;
    text-decoration: none;
}

.container .box .card:hover{
    background-color: rgba(255, 255, 255, 50%);
    box-shadow:0 0 1rem 0.5rem rgb(0 0 0 /20%);
    transition: all 0.3s ease;
}

.container .box .card .pic{
    position: relative;
    width: 100%;
    height: 61%;
    background-size: cover;
    background-position:top;
    background-repeat: no-repeat;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}
.pic#article{
    background-image: url(../img/back.jpg);
}
.pic#project{
    background-image: url(../img/0.jpg);
}

.container .box .card .text{
    display: flex;
    position: relative;
    width: 100%;
    height: 39%;
    font-size: 20px;
    font-family:serif;
    padding-left: 10px;
    border-top:1px solid #c2c2c2
}

/*左侧个人信息栏*/
.container .left{
    position: relative;
    width: 300px;
    height: 80%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow:0 0 1rem 0.2rem rgb(0 0 0 /10%);
    background-color: rgba(255, 255, 255, 30%); ;
    margin: auto;
    padding: auto;
    margin-left: 0px;
    margin-right: 10px ;
    text-align: center;
}

.container .left .avatar{
    display: flex;
    position:relative;
    width: 100%;
    height: 30%;
    border-top-right-radius:  1.5rem;
    background-color: rgba(255, 255, 255, 30%);
}

.container .left .avatar img{
    display: flex;
    position: relative;
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius:  50%;
    object-fit: cover;
}

.container .left .avatar img:hover{
    display: flex;
    position: relative;
    margin: auto;
    width: 130px;
    height: 130px;
    border-radius:  50%;
    object-fit: cover;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.container .left .intro{
    display: flex;
    position: relative;
    width: 100%;
    height: 60%;
    text-align: center;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 30%);
    
}

.container .left .intro h1{
    position: relative;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0087a8;
    text-shadow: 0 3px 5px rgba(0, 127, 211, 0.4);
}
.container .left .intro p1{
    position: relative;
    margin-top: 5px;
    font-size: 15px;
    color: #7c2601;
    text-shadow: 0px 3px 3px rgba(255, 127, 23, 0.5);
}


.container .left .about{
    display: flex;
    position: relative;
    width: 100%;
    height: 10%;
    font-size: 12px;
    flex-direction: row;
    border-top: 2px solid rgba(229, 229, 229, 0.7)
}



.container .left .about a{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #e8eadc;
    text-decoration: none;
}

.container .left .about .about_nav{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container .left .about .about_nav a{
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background:linear-gradient(120deg, #cef5ff 0%, #ffe0d3) ;
    box-shadow:0 0 5px 1px #d0d0d0;
}

.container .left .about .about_nav a:hover{
    width: 42px;
    height: 42px;
    background:linear-gradient(120deg, #daf8ff 0%, #ffeae1 100%) ;

}



.container .left .about .about_nav a .bilibili_icon{
    display: flex;
    position: relative;
    margin: auto;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-image: url(../img/bilibili_icon.png);
}

.container .left .about .about_nav a .github_icon{
    display: flex;
    position: relative;
    margin: auto;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-image: url(../img/github_icon.png);
}